<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Home Page</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href= "{{url_for('static', filename = 'style.css')}}">
  


</head>

<body>
	<div class = "controls">
		<h3>User Control: Engage with "-" </h3>
			<p>Forward: W</p>
			<p>Left: D</p>
			<p>Right: A</p>
			<p>Backward: S</p>
			<p>Stop: X</p>
			<p>Quit: Q</p>
		<h3>Auto pilot: Engage with "+"</h3>
	</div>
	
	<div class = "feed">
		<p>Camera Feed:</p>
	</div>
	
	


</body>
</html>
